@model dynamic

@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>
<p>If you have any questions, please feel free to contact us:</p>
<ul>
    <li><strong>Phone:</strong> +201277873750</li>
    <li><strong>Email:</strong> <a href="mailto:alialfayed.official@gmail.com">alialfayed.official@gmail.com</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kfd/" target="_blank">My LinkedIn Profile</a></li>
</ul>
